      <footer id="footer" class="clearfix">
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <% if(typeof(userData) !== 'undefined' && (
                    userData.username === 'admin' ||
                    userData.username === '김현성' ||
                    userData.username === '이준호' ||
                    userData.username === '마혜진' ||
                    userData.username === '최보람' ||
                    userData.username === '박원빈'
                  )) { %>
                    <p class="text-center">
                      <a href="/admin?page=1" class="btn btn-lg radius-50 btn-danger btn-animated">
                        ♡ 운영지원부 ♡ <i class="fa fa-user pl-20"></i>
                      </a>
                    </p>
                  <% } else { %>
                    <p class="text-center">
                      Copyright(C) 2019, MND Convention
                    </p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <% include ../partials/scripts %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('https://paysys.shop');

      socket.on("connect", () => {
        console.log('뭘봥-_-!!');
      });

      socket.on("alert", (msg) => {
        alert(msg);
      });
    </script>
  </body>
</html>