<div class="header-container">
  
  <div class="header-top dark">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-6 col-lg-9">
          <div class="header-top-first clearfix">
            <ul class="social-links circle small clearfix hidden-sm-down">
              <li class="googleplus">
                <a href="https://google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
              </li>
              <li class="facebook">
                <a href="https://www.facebook.com/hkkokily5" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="youtube">
                <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>
              </li>
            </ul>

            <div class="social-links hidden-md-up circle small">
              <div class="btn-group dropdown">
                <button type="button" id="header-top-drop-1" class="btn dropdown-toggle dropdown-toggle--no-caret"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                >
                  <i class="fa fa-share-alt"></i>
                </button>
                <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                  <li class="googleplus">
                    <a href="https://google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li class="facebook">
                    <a href="https://www.facebook.com/hkkokily5" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="youtube">
                    <a href="https://youtube.com" target="_blank"><i class="fa fa-youtube-play"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <ul class="list-inline hidden-md-down">
              <li class="list-inline-item">
                <i class="fa fa-map-marker pr-1 pl-2"></i>서울시 용산구 이태원로 22
              </li>
              <li class="list-inline-item">
                <i class="fa fa-phone pr-1 pl-2"></i>02)748-0711
              </li>
              <li class="list-inline-item">
                <i class="fa fa-envelope-o pr-1 pl-2"></i>hkkokily5@gmail.com
              </li>
            </ul>

          </div>
        </div>

        <% if(isLogin) { %>
          <div class="row align-items-center">
            <a href="/auth/logout" class="btn btn-default btn-sm">로그아웃</a>
            <h4 class="m-0 p-0 ml-2 text-align-center"><%= userData.username %> 님 접속 중...</h4>            
          </div>
        <% } else { %>
          <div class="col-9 col-sm-6 col-lg-3">
            <div id="header-top-second" class="clearfix">
              <div class="header-top-dropdown text-right">

                <div class="btn-group">
                  <a href="/auth/login" class="btn btn-default btn-sm">
                    <i class="fa fa-lock pr-2"></i> 로그인
                  </a>
                </div>

              </div>
            </div>
          </div>
        <% } %>

      </div>
    </div>
  </div>

  <header class="header dark fixed fixed-desktop clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-auto hidden-md-down">
          <div class="header-first clearfix">
            <div id="logo" class="logo">
              <a href="/">
                <img src="/assets/images/logo.png" alt="" />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-8 ml-auto">
          <div class="header-second clearfix">
            <div class="main-navigation main-navigation--mega-menu animated">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="navbar-brand clearfix hidden-lg-up">
                  <div id="logo-mobile" class="logo">
                    <a href="/">
                      <img id="logo-img-mobile" src="/assets/images/logo.png" alt="" />
                    </a>
                  </div>
                </div>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1"
                  aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <ul class="navbar-nav ml-xl-auto">

                    <% if (isLogin) { %>
                      <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="first-dropdown" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"
                        >
                          전표입력
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="first-dropdown">
                          <li><a href="/soldier">현역 메뉴표</a></li>
                          <li><a href="/reserve">예비역 메뉴표</a></li>
                          <li><a href="/general">일반 메뉴표</a></li>
                        </ul>
                      </li>

                      <li class="nav-item">
                        <a href="/cart" class="nav-link">전표확인</a>
                      </li>

                      <li class="nav-item">
                        <a href="/front/user/<%= userData.employee %>" class="nav-link">개별전표</a>
                      </li>

                    <% } %>

                    <% if(typeof(userData) !== 'undefined' && (
                      userData.username === 'admin' ||
                      userData.username === '프론트' ||
                      userData.username === '김현성' ||
                      userData.username === '이준호' ||
                      userData.username === '마혜진' ||
                      userData.username === '최보람' ||
                      userData.username === '김용일' ||
                      userData.username === '김대호' ||
                      userData.username === '정용태' ||
                      userData.username === '박지훈' ||
                      userData.username === '박찬현'
                    )) { %>
                      <li class="nav-item">
                        <a href="/front" class="nav-link">프런트</a>
                      </li>
                    <% } %>

                  </ul>
                </div>

              </nav>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

</div>